# gradle

.gradle/
build/
out/
classes/
lh/
# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos
./lh
*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

/.lh
.lh/src/main/java/hotsuop/daggers/entities/throwable/t.java.json
